.univer {
    padding: 0 !important;
}
.container-fluid{
    padding: 0 !important;
}
.row {
    margin: 0 !important;
}
.crimson{
    background-color: rgb(119, 13, 17);
}
.white{
    color: rgb(246, 246, 246)!important;
}

.white:hover{
    color: #dcdde1 !important;
}

.navbar{
    background-color: #2f3640;
    background-repeat:no-repeat ;
    background-size: contain ;
    border: 1px #dcdde1 solid ;

}

.navbar1 li{
    display: inline-block;
    float: right;
    margin: auto;
    padding: 10px;
}



.navbar1 li a {
    text-decoration: none;
}
body{
 background-color: #dcdde1 !important;

}
.slogan{
   color: #2f3640;
}

.actu{

    float: right;
    width: 70%;
    background-color: #2f3640;


}

.actu img{
width: 50%;
}
.actu h4{
    color: #dcdde1;

}
.actu p{
    color: #dcdde1 ;
    margin: auto;
    text-align: center;
    padding-top: auto;
}
.universcthulhu{
    height:auto ;
    padding: auto;
    text-align: center;
    min-height: 300px;
    width: 100%;


    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ),
    url("../img/ctuhllu.png");
    background-size: cover;
    color: #dcdde1;

}
.universagone{
    height:auto ;
    text-align: center;
    min-height: 300px;
    width: 100%;

    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ),
    url("../img/agone.jpg");
    background-size: cover;
    color: #dcdde1;

}
.universYggdrasill{
    height:auto ;
    text-align: center;
    min-height: 300px;
    width: 100%;


    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ),
    url("../img/yggdrasill.jpg");
    background-size: cover;
    background-position-y: center;
    color: #dcdde1;


}
.universmutant{
    height:auto ;
    text-align: center;
    min-height: 300px;
    width: 100%;

    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ),
    url("../img/mutant.jpg");
    background-size: cover;
    color: #dcdde1;

}
.univers p,h5{
    position: relative;
    top: 60px;
    height: 100%;
}
.univers{
    width: 100%;
    margin-top: 250px;
}
.contact{
    max-width: 30%;
    text-align: center;


}
#contact-form{
    margin-bottom: 50px;
}
.form-inscription{
    float: left;
}
.form-inscription input{
    float: left;
    margin-bottom: 10px;
}
.form-signup{
    color: #dcdde1;
}
footer{
    background-color: #2f3640;
    color: #dcdde1;

}
.nfactory{
position: relative;
    top: 20px;
left: 100px;

}
.wf3{
    position: relative;
    right: 100px;
    top: 10px;

}
.partenaires{
    margin-bottom: 30px;
    text-align: center;
}

.hr2{
   border: #2f3640 0.5px solid;
    width: 25%;
}
.inscription{
    margin-left: 50px;
    margin-top: 50px;
    display: inline-block;

}
.inscription input{
    padding-left:100px ;
    text-align: left;
}

.panel{
    background-color: #2f3640!important;
}
.panel-body {

    background-color: #dcdde1;
    padding: auto;
    border: #2f3640 0.5px solid;
    border-radius:10px ;
    background-color: #2f3640;
}
.page-footer{

    bottom: 0px;
    width: 100%;
}
.container-inscription{
    margin: 0px;
}
.partie{
    background-color:#2f3640;
    color: #dcdde1; 
    min-width: 250px;
    max-width: 200px;
    min-height: 250px;
    max-height: 200px;
    margin: 10px;
}
.lobbytitre{
    color: #2f3640;
    margin-bottom: 20px;
}
.creer{
    background: linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
),
     url("../img/rpg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    min-width: 500px;
    min-height: 500px;
    max-height: 500px;
    position: absolute;
    color: #dcdde1;
    margin-top: 200px;
    margin-bottom: 200px
}
.creerbtn{
    position: relative;
    top: 200px;
    left: 700px;
    background-color: #2f3640

}
.conditions{
    color: #2f3640;

}
.conditions h4{
    text-decoration: underline;
}

@media screen and (max-width: 992px) {

}

/* On screens that are 600px or less,*/
@media screen and (max-width: 600px) {

}

